<app-nav></app-nav>

<section class="border-bottom py-3 pt-md-4 mb-4 mt-5">
    <div class="container">
      <div class="row justify-content-center pb-2 pb-md-3">
        <div class="col-lg-8 col-md-10">
          <h1 class="mb-4 pb-1 text-center">Política de envío y cambio</h1>
    
        </div>
      </div>
    </div>
</section>

<section class="border-bottom" >
    <div class="container py-2 pt-md-3 mt-7" style="margin-bottom: 100px !important;">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 mb-5">

            <h3 class="mb-7 pb-1 text-center" style="margin-bottom: 4rem;    margin-top: 4rem;">Información de envío</h3>
          
            <h4 class=" mb-2 pb-1">
                ¿Cuál es la cobertura de envío?
            </h4>
            <p class="d-sm-none d-md-block card-text mb-5">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia autem, dolor dolorem non voluptate saepe ut debitis aspernatur. Suscipit, aspernatur officiis id nostrum explicabo fugiat numquam eos cupiditate nesciunt voluptatem!
            </p>

            <h4 class=" mb-2 pb-1">
                ¿En cuánto tiempo llegará mi pedido?
            </h4>
            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 1rem !important;">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. At amet sint deleniti sed. Itaque in qui dolores unde atque deserunt aut vel doloribus minima, quasi hic recusandae maiores non quam a at tenetur ab? Commodi voluptas pariatur provident quasi, sint perspiciatis sequi sed voluptatum quia veniam iure dolore qui necessitatibus?
            </p>

            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 1rem !important;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dolore expedita doloremque aliquam ab maxime dolor odit alias, rem molestiae inventore exercitationem consequatur a et quidem libero eius! Vitae iusto ullam expedita odio cum ratione eaque ab atque itaque modi!
            </p>

            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 1rem !important;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio reprehenderit voluptate dolorem sunt quibusdam recusandae ratione porro in hic! Deleniti magni sequi distinctio repellat, vitae tenetur earum quas nisi consequatur incidunt corporis! Porro nam et harum, iusto suscipit modi aut!
            </p>

            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 1rem !important;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum dolore quidem odit, obcaecati explicabo tempora? Impedit vero eos dignissimos, voluptatum ea tenetur error, labore minima, modi in commodi et animi sint quia assumenda. Explicabo repudiandae ullam facere dolorem quaerat tempore fuga, reprehenderit esse maiores?
            </p>

            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 1rem !important;">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident corrupti facere expedita molestias corporis saepe cumque, perspiciatis quae eos dignissimos autem esse rerum veniam minima consequuntur cum, illo nostrum unde ullam magni ipsam. Saepe corrupti ducimus nulla accusantium, illo in mollitia dolore expedita! Magni quas porro repudiandae.
            </p>
        </div>

        <div class="col-lg-8 col-md-10">

            <h3 class="mb-7 pb-1 text-center" style="margin-bottom: 4rem;">Información de cambios</h3>
          
            <h4 class=" mb-2 pb-1">
                ¿Puedo realizar el cambio de un producto?
            </h4>

            <p class="d-sm-none d-md-block card-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque quasi nesciunt voluptates, quis aspernatur rerum, dolore voluptas eaque corporis adipisci nulla harum quod similique dolores reprehenderit! Laboriosam aperiam natus veritatis praesentium. Hic pariatur amet magnam officia aliquam! Vel reiciendis rerum ex itaque maiores assumenda exercitationem?
            </p>

            <ol>
                <li>
                    <p class="d-sm-none d-md-block card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, blanditiis unde, cumque perferendis nesciunt ea corrupti consectetur rerum labore ipsa illum doloribus error.</p>
                </li>
                <li>
                    <p class="d-sm-none d-md-block card-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam laudantium laborum suscipit dolore?
                    </p>
                </li>
                <li>
                    <p class="d-sm-none d-md-block card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sint nihil exercitationem!
                    </p>
                </li>
                <li>
                    <p class="d-sm-none d-md-block card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, similique corporis magni explicabo ad placeat dolor.
                    </p>
                </li>
                <li>
                    <p class="d-sm-none d-md-block card-text"  style="margin-bottom: 3rem !important;">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias pariatur ad aperiam iste.
                    </p>
                </li>
            </ol>

            <h4 class=" mb-2 pb-1">
                ¿Qué hago si el producto que compré tiene alguna falla?
            </h4>
            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 3rem !important;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, neque sequi placeat ex, libero consequatur voluptates excepturi eligendi quod voluptatibus quas iure. Sit!
            </p>

            <h4 class=" mb-2 pb-1">
                ¿Cómo realizo el cambio?
            </h4>

            <ol>
                <li>
                    <p class="d-sm-none d-md-block card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae enim aut incidunt dolorum unde ratione cumque autem exercitationem, cupiditate, soluta hic dicta velit?
                    </p>
                </li>
                <li>
                    <p class="d-sm-none d-md-block card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi iure impedit officiis.
                    </p>
                </li>
                <li>
                    <p class="d-sm-none d-md-block card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit laudantium amet voluptas?
                    </p>
                </li>
                <li>
                    <p class="d-sm-none d-md-block card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate autem pariatur laboriosam suscipit libero?
                    </p>
                </li>
               
            </ol>

            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 3rem !important;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus dolores recusandae ea.</p>
            
        </div>
      </div>
    </div>
</section>

<app-footer></app-footer>