
<app-nav></app-nav>
<div class="ps-page ps-page--about">
  <div class="ps-about-intro">
    <div class="ps-section__left">
      <div class="ps-section__content">
        <h5>Aliquam eu mauris</h5>
        <h3>Aliquam eu mauris commodo, bibendum ligula et</h3>
        <p>Maecenas non imperdiet libero. Nullam mi ex, rhoncus eu velit eu, posuere aliquet erat. In eu lobortis augue, ut posuere ante. Integer malesuada hendrerit quam, eu gravida dolor dignissim sed. Aenean tincidunt mattis lorem. Praesent in tellus lectus. Sed imperdiet tortor augue, quis sollicitudin diam ornare eu. </p>
      </div>
    </div>
    <div class="ps-section__right"><img src="assets/images/about/about-intro.jpg" alt=""></div>
  </div>
  <div class="ps-about-quote" style="    margin-bottom: 100px;">
    <div class="container ps-section__container">
      <div class="ps-section__left"><img src="../assets/images/about/about-quote.jpg" alt=""></div>
      <div class="ps-section__right">
        <blockquote>
          <p>Mauris dictum turpis id ligula euismod tempor. Etiam convallis dolor id mi commodo viverra. Nunc dictum consequat mauris commodo malesuada. Nulla mi mauris, dictum vel mi at, auctor placerat ligula. Phasellus eu mattis elit, elementum convallis felis.</p>
        </blockquote>
        <figure><small>Aliquam eu mauris</small>
          <h4>Cum quae facilis</h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum quae facilis possimus sapiente maxime. Cupiditate aspernatur minus iste saepe ipsum.</p>
        </figure>
      </div>
    </div>
  </div>

  <div class="ps-about-intro">
    <div class="ps-section__left">
      <div class="ps-section__content">
        <h5>Aliquam eu mauris</h5>
        <h3>Necessitatibus ea mollitia quos</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ea mollitia quos sed numquam, hic quod unde blanditiis est, quia modi perferendis, odit qui ipsam neque iusto deserunt libero eveniet.</p>
      </div>
    </div>
    <div class="ps-section__right"><img src="assets/images/about/about-video.jpg" alt=""></div>
  </div>

  <div class="ps-about-quote" style="    margin-bottom: 100px;">
    <div class="container ps-section__container">
      <div class="ps-section__left"><img src="../assets/images/about/member-1.jpg" alt=""></div>
      <div class="ps-section__right">

        <figure><small>Aliquam eu mauris</small>
          <h3 style="font-size: 48px !important;">Phasellus nulla tortor</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur molestias alias possimus quibusdam sapiente ducimus necessitatibus deserunt at, provident recusandae, quo, officiis iusto modi saepe pariatur nulla est vero! Exercitationem inventore optio quis, mollitia iste odit nisi dignissimos soluta sint placeat at quo numquam voluptatem quos, sapiente modi omnis aperiam!</p>
        </figure>
      </div>
    </div>
  </div>


 
</div>
  

<app-footer></app-footer>